$white-color: #ffffff;
$black-color: #111111;
$blue-color: #4f2ee8;
$accent-color: #eac645;

// background
$light-theme-main-background-color: #f6f6f6;
$dartk-theme-main-background-color: #202024;

// text-color
$light-text-color: rgba(17, 17, 17, 0.6);
$very-light-text-color: #b4afaf;

// modal
$ligth-theme_modal-border-color: 2px solid #111111;
$dark-theme_modal-border-color: 2px solid #f6f6f6;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$transition: transform $cubic 250ms;
