<main>
    <h1>Best Sellers Books</h1>
  <section>
    <!-- Combined Print and E-book Fiction -->
  </section>
  <section>
    <!-- Combined Print & E-book Nonfiction -->
  </section>
  <section>
    <!-- Hardcover fiction -->
  </section>
  <section>
    <!-- Hardcover nonfiction -->
  </section>
  <section>
    <!-- Paperback trade fiction -->
  </section>
  <section>
    <!-- Paperback nonfiction -->
  </section>
  <section>
    <!-- Advice, how-to & Miscellaneous -->
  </section>
  <section>
    <!-- Children’s middle grade hardcover  -->
  </section>
</main>
