<div class="header">
  <nav class="header__nav">
    <div class="wrapper-logo">
      <a href="./index.html">
        <!-- <svg class="header__logo-svg-dark hidden" width="109" heigth="28">
          <use href="./images/icons/icons.svg#icon-logo_dark"></use>
        </svg> -->
        <svg class="header__logo-svg" width="109" heigth="28">
          <use class="js-icon" href="./images/icons/icons.svg#icon-logo_light"></use>
        </svg>
      </a>
    </div>

    <menu class="header__menu">
      <a href="./index.html" class="uppercase link header__home header__home-box current-home"
        >Home</a
      >

      <a href="./shopping-list.html" class="uppercase link header__shopping header__shopping-box"
        >Shopping<span> list</span>

        <svg width="20" height="20">
          <use href="./images/icons/icons.svg#icon-shopping_bag"></use>
        </svg>
      </a>
      <!-- <button class="checking">addbook</button> -->
    </menu>

    <div class="header__wrapper">
      <div class="swither-box">
        <label class="switch-box">
          <input id="toggle" type="checkbox" />
          <span class="slider-theme"></span>
        </label>
      </div>
      <div class="js-opened-menu burger-box">
        <svg class="burger" width="28" height="28">
          <use href="./images/icons/icons.svg#icon-burger"></use>
        </svg>
      </div>

      <div class="close-box visually-hidden">
        <svg class="icon-close" width="20" height="20">
          <use href="./images/icons/icons.svg#icon-close"></use>
        </svg>
      </div>

      <button class="header__sign-up" type="button">
        <div class="user-img">0</div>
        <div><a href="#" class="link user-info">Sign up</a></div>
        <svg class="header__svg-array" width="20" height="20">
          <use href="./images/icons/icons.svg#icon-arrow"></use>
        </svg>
       
        <svg class="header__svg-array-down" width="20" height="20">
          <use href="./images/icons/icons.svg#icon-caret-down"></use>
        </svg>
      </button>
      <button id="sighn-out">SIGN OUT</button>
      <div class="slide-block slide-out"></div>
    </div>
  </nav>
  <div class="modal-overlay">
    <div class="modal">
      <form class="form">
        <div class="name">
          <label for="name">Name</label>
          <input type="name" name="name" id="name" placeholder="write your name" />
        </div>

        <div class="email">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="write your email" />
        </div>
        <div class="pass">
          <label for="password">password</label>
          <input type="password" name="password" id="password" placeholder="write your password" />
        </div>
      </form>
      <button id="sighn-up">SIGN UP</button>
      <button id="sighn-in">SIGN IN</button>
      
      <button class="closeButton">
        <svg width="24" height="24">
          <use href="./images/icons/icons.svg#icon-scroll_up"></use>
        </svg>
      </button>
      <button id="sighn-up-opt">SIGN UP</button>
      <button id="sighn-in-opt">SIGN IN</button>
    </div>
  </div>
</div>
