<div class="header">
    <nav class="header__nav">
      <div class="wrapper-logo">
        <a href="./index.html">
          <svg class="header__logo-svg" width="109" heigth="28">
            <use href="./images/icons/icons.svg#icon-logo_light"></use>
          </svg>
        </a>
      </div>
  
      <menu class="header__menu">
        <div class="header__home-box">
          <a href="./index.html" class="uppercase link header__home">Home</a>
        </div>
  
        <div class="header__shopping-box current-shopping">
          <a href="./shopping-list.html" class="uppercase link header__shopping "
            >Shopping<span> list</span></a>
            
          <svg width="20" height="20">
            <use href="./images/icons/icons.svg#icon-shopping_bag"></use>
          </svg>
        </div>
      </menu>
  
      <div class="header__wrapper">
        <div class="swither-box">
          <label class="switch-box">
            <input id="toggle" type="checkbox" />
            <span class="slider-theme"></span>
          </label>
        </div>
        <div class="burger-box">
          <svg class="burger" width="28" height="28">
            <use href="./images/icons/icons.svg#icon-burger"></use>
          </svg>
        </div>
  
        <button class="header__sign-up" type="button">
          <div><a href="#" class="link">Sign up</a></div>
          <svg class="header__svg-array" width="20" height="20">
            <use href="./images/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <div class="slide-block slide-out"></div>
      </div>
    </nav>
    <div class="modal-overlay">
      <div class="modal">
        
        <form class="form">
          <div class="name">
          
          <label for="name">Name</label>
          <input type="name"
          name="name"
          id="name"
          placeholder="write your name"></div>
      
      
          <div class="email">
          
          <label for="email">Email</label>
          <input type="email"
          name="email"
          id="email"
          placeholder="write your email"></div>
          <div class="pass">
          <label for="password">password</label>
           <input type="password" 
           name= "password" 
           id="password"
          placeholder="write your password">
          </div>
          </form>
          <button id="sighn-up">Sighn up</button>
          <button id="sighn-in">Sighn in</button>
          <button id="sighn-out">Sighn out</button>
          <button class="closeButton">Закрити</button>
          <button id="sighn-up-opt">Sighn up</button>
          <button id="sighn-in-opt">Sighn in</button>
          
  
      </div>
    </div>
      </div>
    </div>
  </div>
  