 <div class="header-container">
        <nav class="header-nav">
            <div class="wrapper-logo">
                <a href="/">
                    <svg class="header-logo-svg" width="109" heigth="28"><use href="./images/icons/icons.svg#icon-logo_light"></use></svg>
                </a>
            </div>

            <menu class="header-menu">
                <div class="header-home-box"><a href="/" class="uppercase link header-home">Home</a></div>

                <div class="header-shopping-box">
                    <a href="./shopping-list.html" class="uppercase link header-shopping">Shopping<span> list</span></a>
                    <svg width="20" height="20" ><use href="./images/icons/icons.svg#icon-shopping_bag"></use></svg>
                
                </div>
            </menu>

            <div class="header-wrapper">
                <div class="swither-box">
                    <label class="switch-box">
                        <input id="toggle" type="checkbox">
                        <span class="slider-theme"></span>
                      </label>
                </div>
                <div class="burger-box">
                    <svg class="burger" width="28" height="28"><use href="./images/icons/icons.svg#icon-burger"></use></svg>
                </div>

                <div class="slide-block slide-out"></div>
            </div>

            <div class="header-sign-up"><a href="#">Sign up</a></div>
            
        </nav>
 </div>
