<header class="header">
  <div class="container">
    <nav class="header__nav">
      <div class="main-navigation">
        <a href="./index.html" class="link wrapper-logo">
          <svg class="header__logo-svg" width="24" height="24">
            <use
              class="js-icon"
              href="./images/icons/icons.svg#icon-logo"
            ></use>
          </svg>
          <p>Bookshelf</p>
        </a>

        <ul class="header__menu">
          <li>
            <a
              href="./index.html"
              class="uppercase link header__home header__home-box current-home"
              >Home</a
            >
          </li>
          <li>
            <a
              href="./shopping-list.html"
              class="uppercase link header__shopping header__shopping-box"
              >Shopping<span> list</span>

              <svg width="20" height="20">
                <use href="./images/icons/icons.svg#icon-shopping_bag"></use>
              </svg>
            </a>
          </li>
          <!-- <button class="checking">addbook</button> -->
        </ul>
      </div>

      <div class="header__wrapper">
        <div class="swither-box">
          <label class="switch-box">
            <input id="toggle" type="checkbox" />
            <span class="slider-theme"></span>
          </label>
        </div>
        <div class="js-opened-menu burger-box">
          <svg class="burger" width="28" height="28">
            <use href="./images/icons/icons.svg#icon-burger"></use>
          </svg>
        </div>
        <div class="close-box visually-hidden">
          <svg class="icon-close" width="20" height="20">
            <use href="./images/icons/icons.svg#icon-close"></use>
          </svg>
        </div>

        <div class="header-user-log-out">
          <button id="header__sign-up" class="header__sign-up" type="button">
            <svg class="user-icon user-img" width="32" height="32">
              <use
                class="js-icon"
                href="./images/icons/icons.svg#icon-user"
              ></use>
            </svg>

            <!-- <p class="link user-info"> -->
            Sign up
            <!-- </p> -->
            <svg class="header__svg-array" width="20" height="20">
              <use href="./images/icons/icons.svg#icon-arrow"></use>
            </svg>

            <svg class="header__svg-array-down" width="20" height="20">
              <use href="./images/icons/icons.svg#icon-caret-down"></use>
            </svg>
          </button>

          <button id="sighn-out" class="sign-out-header">
            Log out
            <svg class="header__svg-array" width="20" height="20">
              <use href="./images/icons/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="slide-block slide-out"></div>
      </div>
    </nav>
    <div class="modal-overlay">
      <div class="modal">
        <form class="form">
          <div class="name modal__input-box">
            <input
              type="text"
              name="name"
              id="name"
              placeholder=""
              class="modal__input input-name"
            /><label
              for="name"
              class="modal__input-label modal__input-animation"
              >Name:</label
            >
          </div>

          <div class="email modal__input-box">
            <input
              type="email"
              name="email"
              id="email"
              placeholder=""
              class="modal__input input-email"
            />
            <label for="email" class="modal__input-label modal__input-animation"
              >Email:</label
            >
            <svg class="modal__input-svg">
              <use href="./images/icons/icons.svg#icon-mail"></use>
            </svg>
          </div>
          <div class="pass modal__input-box">
            <input
              type="password"
              name="password"
              id="password"
              placeholder=""
              class="modal__input input-password"
            />
            <label
              for="password"
              class="modal__input-label modal__input-animation"
              >Password:</label
            >
            <svg class="modal__input-svg">
              <use href="./images/icons/icons.svg#icon-lock"></use>
            </svg>
          </div>
        </form>
        <div class="modal__buttons-box">
          <button id="sighn-up" class="modal__sign-up">Sign up</button>
          <button id="sighn-in" class="modal__sign-in">Sign in</button>

          <button id="sighn-up-opt" class="modal__sign-up-opt">Sign up</button>
          <button id="sighn-in-opt" class="modal__sign-in-opt">Sign in</button>
        </div>
        <button type="button" class="closeButton">
          <svg class="close__svg">
            <use href="./images/icons/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
