<div id="7542" class="burger-menu hidden">
  <div class="container mobile-user-log-out">
    <button
      id="mobile-sign-up"
      class="mobile__sign-up mobile-sign-up__text"
      type="button"
    >
      Sign up

      <svg class="mobile__svg-array" width="20" height="20">
        <use href="./images/icons/icons.svg#icon-arrow"></use>
      </svg>
    </button>

    <div id="mobile-user-info" class="mob-user-info">
      <div class="mobile__user-img-box">
        <svg
          id="mobile-user-img"
          class="mobile__user-img"
          width="37"
          height="37"
        >
          <use href="./images/icons/icons.svg#icon-user"></use>
        </svg>
      </div>
      <p id="mobile-user-name" class="mobile__user-info">Sign up</p>
    </div>

    <ul id="mobile-menu" class="mob-menu">
      <li>
        <a
          href="./index.html"
          class="uppercase link mob-menu__home mob-menu__home-box mobile-menu-current-home"
          >Home</a
        >
      </li>
      <li>
        <a
          href="./shopping-list.html"
          class="uppercase link mob-menu__shopping mob-menu__shopping-box"
          >Shopping list

          <svg width="20" height="20">
            <use href="./images/icons/icons.svg#icon-shopping_bag"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button id="mobile-sighn-out" class="mobile__sign-out">
      Log out
      <svg class="mobile__svg-array" width="20" height="20">
        <use href="./images/icons/icons.svg#icon-arrow"></use>
      </svg>
    </button>

    <div class="mob-menu__img-wrapper">
      <img
        src="./images/mobil-menu.png"
        alt="books"
        class="mob-menu__img"
        width="450"
      />
    </div>
  </div>
</div>
