<!-- <div class="swiper-container">
  <div class="swiper">
    <h2 class="support_title">Support Ukraine</h2>
    <div class="swiper-wrapper">
      <div class="swiper-slide"></div>
    </div>
    <div class="swiper-button-next button"></div>
  </div>
</div> -->
<section class="support">
  <div class="wrapper">
    <div class="support_title_box">
      <h2 class="support_title">Support Ukraine</h2>
      <svg class="support_icon" width="20" height="32">
        <use href="./images/icons/icons.svg#icon-national_emblem"></use>
      </svg>
    </div>
    <div class="block">
      <div class="block_body">
        <!-- Slider main container -->
        <div class="swiper support-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper support-wrapper">
            <!-- Slides -->
          </div>
          <!-- <div class="swiper-button-prev"></div> -->
          <!-- <div class="swiper-button-next"></div> -->
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
  </div>
</section>
