<!-- <div class="swiper-container">
  <div class="swiper">
    <h2 class="support_title">Support Ukraine</h2>
    <div class="swiper-wrapper">
      <div class="swiper-slide"></div>
    </div>
    <div class="swiper-button-next button"></div>
  </div>
</div> -->
<div class="wrapper">
  <h2 class="support_title">Support Ukraine</h2>
  <div class="block">
    <!-- <div class="block_side"></div> -->
    <div class="block_body">
      <!-- Slider main container -->
      <div class="swiper support-cont">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper support-cont-wrapper">
          <!-- Slides -->
        </div>
        <div class="swiper-button-prev"></div>
        <!-- <div class="swiper-button-next"></div> -->
      </div>
    </div>
  </div>
</div>
