.title-top-books{
    font-weight: 700;
    font-size: 48px;
    line-height: 1.08;
    margin-bottom: 40px;
}

.title-top-books span {
    color: #4F2EE8;
}

.top-books {
    padding: 0px;
}

.top-books_container {
    display: flex;
}

.top-books_category {
    font-size: 14px;
    line-height: 1.71;
    color: #B4AFAF;
    margin-bottom: 18px;
}

.top-books_list {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
    margin-right: 24px;
}

.top-books_link {}

.top-books_title {
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    margin-top: 14px;
    margin-bottom: 4px;
}

.top-books_author {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.04em;
    color: #B4AFAF;
}

.top-books_button {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    padding: 14px 28px;
    gap: 10px;
    width: 124px;
    height: 46px;
    border: 2px solid #4F2EE8;
    border-radius: 40px;

}