.top-books {}

.top-books_container {
    display: flex;
}

.top-books_category {}

.top-books_list {
    max-width: 200px;
    margin-right: 24px;
}

.top-books_link {}

.top-books_title {}

.top-books_author {}

.top-books_button {}