.category-container {

  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
//   padding-left: 20px;
//   padding-right: 20px;
  // outline: solid 2px tomato;

  @include mobile {
    max-width: 375px;
  }
  @include tablet{
    padding-top: 0;
    padding-bottom: 0;
  }

  @include pc {
    padding-top: 40px;
  }
}

// .isActive {
//   text-transform: uppercase;
//   font-weight: 700;
//   color: $blue-color;
//   cursor: pointer;
// }
.category-list {
  display: block;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 24px;
  height: 230px; // t- i d-472px;
  width: 335px; //  d- 356px;
  overflow-x: hidden;
  overflow-y: auto;

  @include tablet {
height: 472px;
      }

    @include pc {
width: 356px;
    }

  &_item {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    padding: 5px;
    border-radius: 3px;
    transition: padding-left 300ms ease-out, background-color 300ms ease-out, text-transform 300ms ease-out, font-weight 300ms ease-out;

    &:hover {
      text-transform: uppercase;
      font-weight: 700;
      color: $black-color;
      background-color: $accent-color;
      cursor: pointer;
      padding-left: 20px;
    }
  }
}

.light-theme-color-item {
  color: $light-text-color;
}

.category-books_container {
    width: 100%;
    margin-bottom: 8px;

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }

    @include pc {
        gap: 24px;
        width: 996px;
        margin-bottom: 32px;
    }
}

.active-category {
    text-transform: uppercase;
        font-weight: 700;
        color: $blue-color;
        // cursor: pointer;
}

// Scrollbar

::-webkit-scrollbar {
  width: 8px;

}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #E0E0E0;
}

.card-margin {
margin-bottom: 40px;
@include tablet {
    margin-bottom: 15px;
  }
  @include pc {
    margin-bottom: 15px;
    }
}