.header {
  width: 100%;
  //   display: flex;
  height: 64px;
  position: sticky;
  z-index: 10;
  top: 0;
  border: 1.5px solid $black-color;
  background-color: $white-color;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  @include tablet {
    height: 72px;
  }

  //     @include pc {

  // }
  &__nav {
    width: 100%;
    display: flex;
    align-items: center;
    height: 64px;

    @include tablet {
      height: 72px;
    }
  }

  &__logo-svg {
    width: 24px;
    height: 24px;
  }
  &__menu {
    opacity: 0;
    visibility: hidden;
    display: none;

    @include tablet {
      //   display: flex;
      visibility: visible;
      opacity: 1;
      flex-direction: row;
      align-items: center;
      gap: 15px;
      padding-left: 16px;
      margin: 0px;
    }
    @include pc {
      padding-left: 16px;
    }
  }

  &__home-box {
    padding: 12px 16px;
    text-align: center;
    cursor: pointer;
    width: 72px;
    height: 34px;
    &:hover {
      padding: 12px 16px;
      background: #eac645;
      border-radius: 36px;
    }
  }
  &__home {
    font-weight: 500;
    padding: 12px 16px;
    font-size: 14px;
    line-height: 0.77;
    letter-spacing: -0.04em;
  }
  &__shopping-box {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
    padding: 12px 16px;
    letter-spacing: -0.04em;

    &:hover {
      padding: 12px 16px;
      gap: 8px;
      height: 34px;
      background-color: #eac645;
      border-radius: 36px;
      transition: background-color 200ms ease-out;
    }
  }

  &__shopping {
    display: flex;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 0.77;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    gap: 18px;

    @include tablet {
      gap: 14px;
    }
  }
  &__sign-up {
    opacity: 0;
    visibility: hidden;
    position: relative;
    display: none;

    &:hover,
    &:focus {
      box-shadow: rgb(176, 147, 147) 3px 1px 6px 0px;
    }
    @include tablet {
      opacity: 1;
      visibility: visible;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 184px;
      height: 48px;
      border-radius: 18px;
      fill: aliceblue;
      border: 2px solid #111111;
      color: $white-color;
      background-color: $blue-color;
      //   margin-right: 24px;
      cursor: pointer;
    }
  }
  &__svg-array {
    stroke: $accent-color;
  }
}

.current-home {
  padding: 12px 16px;
  background: #eac645;
  border-radius: 36px; //--------------------------HOME
}
.current-shopping {
  padding: 12px 16px;
  gap: 8px;
  height: 34px;
  background-color: #eac645;
  border-radius: 36px; //-----------------------SHOPPING LIST
}
.wrapper-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 0.77;
  letter-spacing: -0.04em;
  gap: 8px;
  padding: 18px 20px;
  @include tablet {
    padding: 18px 32px;
  }
  @include pc {
    padding: 24px 24px;
  }
}

// .swither-box {
//     display: flex;
// //   margin-right: 250px;
// //   position: absolute;
// //   @include tablet {
// //     margin-right: 225px;
// //   }

// }

.switch-box {
  position: relative;
  //   right: 235px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#toggle {
  opacity: 0;
  touch-action: none;

  &:checked {
    & ~ .slider-theme {
      background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
    }
    & ~ .slider-theme:before {
      background-color: $white-color;
      box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
      transform: translate(19px, 0px);
    }
    & ~ .slide-block {
      left: 0;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
.slider-theme {
  width: 40px;
  height: 20px;
  border-radius: 30px;
  cursor: pointer;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  &:before {
    position: absolute;
    bottom: 1px;
    left: 15px;
    width: 18px;
    height: 18px;

    content: '';
    border-radius: 50%;
    background-color: $white-color;
    transition: $transition;
  }
}
.burger-box {
  margin-left: 15px;
  display: block;

  //   @include tablet {
  //     opacity: 0;
  //     visibility: hidden;
  //     display: none;
  //   }
}
.burger {
  stroke: $black-color;
  margin-right: 5px;
  cursor: pointer;

  // z-index: 2;
  // opacity: 1;
  // width: 28px;
  // height: 28px;
  // visibility: visible;
  @include tablet {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

.icon-close {
  stroke: $black-color;
  margin-right: 5px;
  cursor: pointer;
}
.user-img {
  width: 32px;
  height: 32px;
  outline: auto;
  outline-color: blueviolet;
  border-radius: 50%;
}
.sign-out-header {
  width: 182px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  background-color: $white-color;
  font-weight: 500;
  position: absolute;
  top: 58px;
  border-radius: 18px;
  border: 2px solid #111111;
  transition: all 0.5s ease-out;
}

// @keyframes slidein {
//     from {
//         top:0;
//         left: 15;
//         width: 0%;
//     }
//     50% {
//         width: 55%;
//       }
//     to {
//         top: 45;
//         left: 15;
//         max-width: 100%;
//     }
//   }
.header-user-log-out {
  // position: absolute;
  // position: absolute;
  top: 14%;
  // z-index: -1;
  display: flex;
  flex-direction: column;
}
