.header {
  width: 375px;
  margin: 0 auto;
  height: 64px;
  position: sticky;
  z-index: 10;
  top: 0;
  border: 1.5px solid $black-color;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  @media (min-width: 768px) {
    width: 768px;
    height: 72px;
  }

  @media (min-width: 1440px) {
    width: 1440px;
  }

  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;

    @include tablet {
      height: 72px;
    }
  }

  &__logo-svg {
    width: 24px;
    height: 24px;
  }
  &__menu {
    opacity: 0;
    visibility: hidden;
    display: none;

    @include tablet {
      visibility: visible;
      opacity: 1;
      flex-direction: row;
      align-items: center;
      gap: 15px;
      padding-left: 16px;
      margin: 0px;
    }
    @include pc {
      padding-left: 16px;
    }
  }

  &__home-box {
    padding: 12px 16px;
    text-align: center;
    cursor: pointer;
    width: 72px;
    height: 34px;
    border-radius: 36px;
    transition: background-color 250ms ease-out;
    &:hover {
      background: #eac645;
    }
  }
  &__home {
    font-weight: 500;
    padding: 12px 16px;
    font-size: 14px;
    line-height: 0.77;
    letter-spacing: -0.04em;
  }
  &__shopping-box {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 34px;
    padding: 12px 16px;
    letter-spacing: -0.04em;
    transition: background-color 250ms ease-out;
    border-radius: 36px;

    &:hover {
      background-color: #eac645;
    }
  }

  &__shopping {
    display: flex;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 0.77;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  &__sign-up {
    opacity: 0;
    visibility: hidden;
    position: relative;
    display: none;

    &:hover,
    &:focus {
      box-shadow: rgb(176, 147, 147) 3px 1px 6px 0px;
    }

    @include tablet {
      opacity: 1;
      visibility: visible;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 184px;
      height: 48px;
      border-radius: 18px;
      fill: aliceblue;
      border: 2px solid #111111;
      color: $white-color;
      background-color: $blue-color;
      cursor: pointer;
    }
  }
  &__svg-array {
    stroke: $accent-color;
  }
}
.current-home {
  padding: 12px 16px;
  background: #eac645;
  border-radius: 36px; //--------------------------HOME
}
.current-shopping {
  padding: 12px 16px;
  gap: 8px;
  height: 34px;
  background-color: #eac645;
  border-radius: 36px; //-----------------------SHOPPING LIST
}
.wrapper-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 0.77;
  letter-spacing: -0.04em;
  gap: 8px;
}

.switch-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}
#toggle {
  opacity: 0;
  touch-action: none;

  &:checked {
    & ~ .slider-theme {
      background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
    }
    & ~ .slider-theme:before {
      background-color: $white-color;
      box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
      transform: translate(19px, 0px);
    }
    & ~ .slide-block {
      left: 0;
      display: none;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
.slider-theme {
  width: 40px;
  height: 20px;
  border-radius: 30px;
  cursor: pointer;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  &:before {
    position: absolute;
    bottom: 1px;
    left: 15px;
    width: 18px;
    height: 18px;

    content: '';
    border-radius: 50%;
    background-color: $white-color;
    transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.burger-box {
  margin-left: 15px;
  display: block;
}
.burger {
  stroke: $black-color;
  // margin-right: 5px;
  cursor: pointer;

  @include tablet {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

.icon-close {
  stroke: $black-color;
  margin-right: 5px;
  cursor: pointer;
}

.sign-out-header {
  width: 182px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  background-color: $white-color;
  font-weight: 500;
  position: absolute;
  top: 58px;
  border-radius: 18px;
  border: 2px solid #111111;
  animation-name: slidein;
  animation-duration: 500ms;
}

@keyframes slidein {
  from {
    opacity: 0;
    top: 15px;
    max-width: 182px;
    height: 20px;
  }
  50% {
    opacity: 0;
    top: 20px;
    height: 25px;
    width: 182px;
  }
  75% {
    opacity: 0.5;
    height: 25px;
  }
  to {
    opacity: 1;
    top: 58px;
    width: 182px;
    height: 48px;
  }
}
.header-user-log-out {
  top: 14%;
  display: none;
  flex-direction: column;
  @include tablet {
    display: flex;
  }
}
.main-navigation {
  display: flex;
  justify-content: space-around;
}
.user-img {
  width: 32px;
  height: 32px;
  outline: auto;
  outline-color: $white-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white-color;
}
.user-icon {
  // width: 19px;
  // height: 19px;
  // padding: 20px;
  background-color: $white-color;
  fill: $blue-color;
  border-radius: inherit;
  border-radius: inherit;
}
