.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 8px solid #005bbb;
  border-top-color: #fcd116;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  animation: spin 1s ease-in-out infinite;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, #005bbb, #fcd116);
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

#preloader.hide {
  opacity: 0;
  visibility: hidden;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
