.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #4f2ee8;
  // box-shadow: rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: 100;
  display: none;
}

.modal {
  position: relative;
  background-color: #f6f6f6;
  box-sizing: border-box;
  border-radius: 18px;
  border: 2px solid #111111;
  max-width: 335px;
  z-index: 101;
  display: flex;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  @include tablet {
    max-width: 579px;
  }
}
.modal__sign-up,
.modal__sign-in {
  cursor: pointer;

  font-size: 16px;
  font-weight: bold;
  line-height: 0.8;
  // letter-spacing: -1%;
  text-transform: uppercase;
  height: 50px;
  width: 100%;
  border-radius: 40px;
  display: flex;
  align-items: center;
  background-color: #111111;
  justify-content: center;
  border: 0;
  color: #f3f3f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include tablet {
    font-size: 18px;
    font-weight: bold;
    line-height: 0.75;
    height: 64px;
  }
}
.modal__sign-up:hover,
.modal__sign-up:focus {
  background-color: #4f2ee8;
}
.modal__sign-in:hover,
.modal__sign-in:focus {
  background-color: #4f2ee8;
}
.modal__sign-up-opt {
  cursor: pointer;
  color: #4f2ee8;
  // font-style: bold;
  font-size: 16px;
  line-height: 0.8;
  // letter-spacing: -1%;
  font-weight: bold;
  background: transparent;
  border: none;
  text-decoration: underline;
  text-transform: uppercase;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 20px;

  @include tablet {
    font-size: 18px;
    line-height: 0.75;
  }
}
.modal__sign-in-opt {
  color: #4f2ee8;
  // font-style: bold;
  font-size: 16px;
  line-height: 0.8;
  // letter-spacing: -1%;
  font-weight: bold;
  background: transparent;
  border: none;
  text-decoration: underline;
  text-transform: uppercase;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 20px 0 0 20px;
  cursor: pointer;
  @include tablet {
    font-size: 18px;
    line-height: 0.75;
  }
}

#sighn-out:hover {
  color: #4f2ee8;
}
.modal__sign-in-opt:enabled,
.modal__sign-up-opt:enabled {
  color: rgba(17, 17, 17, 0.5);
  text-decoration: none;
}
.modal__sign-in-opt:enabled:hover,
.modal__sign-up-opt:enabled:hover {
  color: #4f2ee8;
}
.modal__sign-in-opt:enabled:focus,
.modal__sign-up-opt:enabled:focus {
  color: #4f2ee8;
}

.closeButton {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: 0;
  cursor: pointer;
  fill: #4f2ee8;
}
.close__svg {
  width: 18px;
  height: 18px;
  stroke: #111111;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  @include tablet {
    width: 26px;
    height: 26px;
  }
}
.close__svg:hover,
.close__svg:focus {
  stroke: #4f2ee8;
}

.form {
  gap: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 40px 40px 40px;
}
.name {
  width: 100%;
  position: relative;
}
.email {
  width: 100%;
  position: relative;
}
.pass {
  width: 100%;
  position: relative;
}
.modal__buttons-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
.modal__input {
  width: 100%;
  height: 50px;
  border-radius: 40px;
  padding-left: 45px;
  border: 2px solid #111111;
  outline: none;
  font-size: 16px;
  line-height: 0.8;
  // letter-spacing: -1%;
  font-weight: bold;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include tablet {
    font-size: 18px;
    line-height: 0.75;
    height: 64px;
  }
  
}
@keyframes slideOutRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.modal__input:focus + .modal__input-label {
  animation: slideOutRight 0.3s forwards;
}

.modal__input:not(:focus) + .modal__input-label {
  animation: slideInLeft 0.3s forwards;
}
.modal__input::placeholder {
  color: #4f2ee8;
}
.modal__input-label {
  color: #111111;
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  left: 20px;
  // transform: translateY(-50%);
  font-size: 16px;
  line-height: 0.8;
  // letter-spacing: -1%;
  font-weight: bold;
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
  
  @include tablet {
    font-size: 18px;
    line-height: 0.75;
    left: 40px;
  }
}
.modal__input-box {
  position: relative;
  border-radius: 40px;
  
}
.input-name {
  padding-left: 45px;
  padding-right: 35px;
  color: #4f2ee8;
  @include tablet {
    padding-left: 45px;
  }
}
.input-email {
  padding-left: 45px;
  padding-right: 35px;
  color: #4f2ee8;
  @include tablet {
    padding-left: 45px;
    padding-right: 45px;
  }
}

.input-password {
  padding-left: 45px;
  padding-right: 35px;
  color: #4f2ee8;
  @include tablet {
    padding-left: 45px;
    padding-right: 75px;
  }
}
.modal__input:hover,
.modal__input:focus {
  border: 2px solid #4f2ee8;
  border-radius: 40px;
}
.modal__input-svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  height: 18px;
  width: 18px;
  fill: white;
  stroke: black;
  @include tablet {
    height: 28px;
    width: 28px;
    right: 40px;
  }
}

.flex {
  display: flex;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.noone {
  display: none;
}
.modal__input-box:focus {
  border-color: aqua;
}
