.go-top {
  position: fixed;
  right: 35px;
  bottom: 40px;
  cursor: pointer;
  fill: #fff;
  border: 14px solid #4f2ee8;
  background-color: #4f2ee8;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  transition: 500ms opacity, 500ms visibility;
  z-index: 101;
  display: flex;
}
.go-top:hover,
.go-top:focus {
  filter: brightness(1.5);
  transition: all 200ms;
}
.go-top-show {
  opacity: 1;
  visibility: visible;
  z-index: 100;
  transition: 500ms opacity, 500ms visibility;
}
