.shopping-list-card {
  height: 170px;

  @include tablet {
    height: 213px;
  }

  position: relative;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;

  padding: 24px;
  gap: 14px;
  isolation: isolate;

  background: $white-color;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;

  &__content {
    width: 100%;
  }

  &__index {
    overflow: hidden;
    width: 144px;

    @include tablet {
      overflow: auto;
      width: 100%;
    }
  }

  &__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    white-space: pre-wrap;

    overflow-wrap: break-word;

    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 16px;
    line-height: 1.125;
    /* identical to box height, or 112% */

    letter-spacing: -0.04em;
    text-transform: uppercase;

    margin-bottom: 4px;
  }

  &__category {
    padding-bottom: 8px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.175;

    letter-spacing: 0.03em;

    color: $very-light-text-color;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__cellar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__wrapper {
    height: 68px;
    overflow: hidden;
    margin-bottom: 23px;

    // @include tablet
    // {
    //     margin-bottom: 100px;
    // }

    // @include pc {
    //     margin-bottom: 250px;
    // }
  }

  &__links {
    display: flex;
    gap: 8px;
    align-items: center;
    mix-blend-mode: luminosity;
  }

  &__amazon {
    display: block;
    width: 32px;
    height: 11px;

    @include tablet {
      width: 48px;
      height: 15px;
    }
  }

  &__book {
    display: block;
    width: 16px;
    height: 16px;

    @include tablet {
      width: 30px;
      height: 30px;
    }
  }

  &__desc {
    width: 193px;
    max-height: 68px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    white-space: pre-wrap;

    overflow-wrap: break-word;

    overflow: hidden;
    text-overflow: ellipsis;

    letter-spacing: -0.04em;

    color: $black-color;

    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;

    overflow-wrap: break-word;

    @include tablet {
      width: 508px;
    }

    @include pc {
      width: 808px;
    }
  }

  &__author {
    max-width: 97px;
    font-style: italic;
    font-size: 12px;
    line-height: 1.17;
    color: $very-light-text-color;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @include tablet {
      max-width: none;
    }
  }

  &__image {
    max-width: none;

    border-radius: 8px;
    width: 100px;
    height: 142px;
    @include tablet {
      width: 116px;
      height: 165px;
    }
  }

  &__button {
    right: 8px;
    top: 8px;
    position: absolute;
    cursor: pointer;

    background: $blue-color;
    border-radius: 50%;
    border-color: transparent;
    padding: 8px;

    display: flex;

    @include tablet {
      right: 20px;
      top: 20px;
    }
  }
}

.wrapper-empty-page {
  margin-top: 140px;
}

.wrapper-empty-page_description {
  max-width: 349px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-empty-image {
  margin-left: auto;
  margin-right: auto;
}
.card-container {
  @include pc {
    min-width: 996px;
  }
}
.shopping-global-container {
  padding-top: 40px;
  @include pc {
    display: flex;
    gap: 40px;
  }
}
