.light-theme {
  background-color: $light-theme-main-background-color;
  color: $black-color;
  transition: 550ms;
}
.dark-theme {
  transition: 550ms;
}
body.dark-theme {
  background-color: $dark-theme-main-background-color;
  color: $white-color;
  fill: $white-color;
  // transition: transform $cubic 550ms;
}

.dark-theme_header {
  background-color: $black-color;
  border-color: $white-color;
  transition: 550ms;
}

.dark-theme .header__home,
.dark-theme .header__shopping {
  color: $white-color;
  fill: $white-color;
  &:hover,
  &:focus {
    color: $black-color;
    fill: $black-color;
  }
}

.dark-theme .category-list {
  color: rgba(255, 255, 255, 0.6);
}

.dark-theme .shopping-list-card {
  background: $black-color;
}
.dark-theme .shopping-list-card__title,
.dark-theme .shopping-list-card__desc {
  color: $white-color;
}

.dark-theme .current-home,
.dark-theme .current-shopping {
  color: $black-color;
  fill: $black-color;
}

.dark-theme .burger,
.dark-theme .icon-close {
  stroke: $white-color;
}

// modal pop-up

.dark-theme .modal_pop-up {
  background-color: $dark-theme-main-background-color;
  border-color: $white-color;
  transition: 250ms;
}

.dark-theme .modal_pop-up__close-icon {
  stroke: $white-color;
}

.dark-theme .modal_pop-up__close-icon:hover {
  stroke: $blue-color;
}

.dark-theme .book__title {
  color: $white-color;
}

.dark-theme .book__author {
  color: #b4afaf;
}

.dark-theme .book__description,
.dark-theme .no-description,
.dark-theme .modal__btn-add,
.dark-theme .modal__btn-remove {
  color: $white-color;
}

.dark-theme .seller__list,
.dark-theme .shopping-list-card__links {
  filter: invert(1);
}

.dark-theme .modal__btn-text {
  color: rgba(255, 255, 255, 0.5);
}

.dark-theme .modal {
  background-color: $dark-theme-main-background-color;
  border-color: $light-theme-main-background-color;
}
.dark-theme .modal__input {
  background-color: $dark-theme-main-background-color;
  border-color: $light-theme-main-background-color;
  stroke: $light-theme-main-background-color;
}
.dark-theme .modal__input-label {
  color: $light-theme-main-background-color;
}

.dark-theme .modal__input-svg {
  stroke: $light-theme-main-background-color;
  fill: $dark-theme-main-background-color;
}

.dark-theme .close__svg {
  stroke: $light-theme-main-background-color;
}

.dark-theme .modal__sign-up,
.dark-theme .modal__sign-in {
  background-color: $light-theme-main-background-color;
  color: $dark-theme-main-background-color;
}
.dark-theme .modal__sign-in-opt:enabled,
.dark-theme .modal__sign-up-opt:enabled {
  color: rgba(246, 246, 246, 0.5);
}
