.light-theme {
  background-color: $light-theme-main-background-color;
  color: $black-color;
}

body.dark-theme {
  background-color: $dark-theme-main-background-color;
  color: $white-color;
  fill: $white-color;
}

.dark-theme_header {
  background-color: $black-color;
  color: $white-color;
}

.dark-theme-category-list_item {
  color: rgba(255, 255, 255, 0.6);
}
