.light-theme {
  background-color: $light-theme-main-background-color;
  color: $black-color;
}

body.dark-theme {
  background-color: $dark-theme-main-background-color;
  color: $white-color;
  fill: $white-color;
}

.dark-theme_header {
  background-color: $black-color;
  border-color: $white-color;
}

.dark-theme_header-hover {
  color: $white-color;
  fill: $white-color;
  &:hover,
  &:focus {
    color: $black-color;
    fill: $black-color;
  }
}

.dark-theme-curent-page {
  color: $black-color;
}
.dark-theme-category-list_item {
  color: rgba(255, 255, 255, 0.6);
}

.dark-theme-shopping-list {
  background: $black-color;
}

.dark-theme_modal-book {
  background-color: $dark-theme-main-background-color;
}

.dark-burger-box {
  stroke: $white-color;
}


// modal pop-up

.dark-theme .modal_pop-up {
  background-color: $dark-theme-main-background-color;
  border-color: $white-color;
  transition: 250ms;
}

.dark-theme .modal_pop-up__close-icon {
  stroke: $white-color;
}

.dark-theme .modal_pop-up__close-icon:hover {
  stroke: $blue-color;
}

.dark-theme .book__title {
  color: $white-color;
}

.dark-theme .book__author {
  color: #B4AFAF;
}

.dark-theme .book__description, 
.dark-theme .no-description, 
.dark-theme .modal__btn-add,
.dark-theme .modal__btn-remove {
  color: $white-color;
}

.dark-theme .seller__list {
  filter: invert(1);
  mix-blend-mode: luminosity;
}

.dark-theme .modal__btn-text {
  color: rgba(255, 255, 255, 0.5);
}


