.support {
  padding: 24px 0 24px 40px;
  max-width: 356px;
  max-height: 490px;
  background-color: $blue-color;

  &_funds_element {
    display: flex;
    align-items: center;
  }

  &_funds_number {
    font-family: 'DM Sans';
    // font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: $white-color;
  }

  &_funds_image {
    margin-left: 16px;
    filter: brightness(0) invert(1);
  }
}
