.support {
  padding: 24px 0 24px 40px;
  max-width: 356px;
  max-height: 490px;
  background-color: $blue-color;

  &_funds_element {
    display: flex;
  }

  &_funds_image {
    margin-left: 16px;
    filter: brightness(0) invert(1);
  }
}
