.container {
    margin: 0 auto;

    @media (min-width: 375px) {
        width: 375px;
        padding: 0 20px;
    }

    @media (min-width: 768px) {
        width: 768px;
        padding: 0 32px;
    }

    @media (min-width: 1440px) {
        width: 1440px;
        padding: 0 24px;
    }
}